@charset "utf-8";
/* CSS Document */
body{
	font-family:Ewert;
	background-image: url('obraz.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFFFFF;
	text-shadow: 6px 6px 12px #000000
	
}
#header{
	font-size:25px;
	margin: auto;
  	width: 14%;
  	padding: 10px;
	float:left;
	text-align:center;
	height:50px;
}
#header1{
	font-size:25px;
	margin-left:17%;
  	width: 20%;
  	padding: 10px;
	float:left;
	text-align:center;
	height:50px;
}
#rating{
	font-size:30px;
	height:200px;
	width:33%;
	text-align: center;
	float: left;
}
#main{
	height:200px;
	width:100%;
	float:left;
	text-align:center;
	font-size:148px;
	font-style:italic;
	
}#comain{
	padding-top:40px;
	padding-bottom:60px;
	height:150px;
	width:100%;
	float:left;
	text-align:center;
	font-size:32px;
	font-style:italic;
}
}#description{
	height:400px;
	width:100%;
	float:left;
	text-align:center;
	
}
#big{
	font-size:24px;
	text-align: center;
	margin: auto;
}
#center{
	text-align:center;
}
#stars{
	color:#FFFFFF;
	font-size:60px;
}